
:root {
  --bg-primary: white;
  --primary: #34C759;
  --text-primary:#3F3F3F;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-item {
  padding: 0 8px;
}

.carousel-inner-box {
  border-radius: 12px;   
  overflow: hidden;      
}

.react-multi-carousel-item {
  overflow: hidden;      
  border-radius: 12px;    
}