
:root {
  --bg-primary: white;

}

/* [data-theme="dark"] {
  --color-primary: #3b82f6;
  --color-secondary: #a855f7;
  --color-accent: #fbbf24;
  --color-text: #f1f5f9;
  --color-bg: #0f172a;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-item {
  padding: 0 8px;
}

.carousel-inner-box {
  border-radius: 12px;   
  overflow: hidden;      
}

.react-multi-carousel-item {
  overflow: hidden;      
  border-radius: 12px;    
}